.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  .card {
    width: 80%;
    padding: 40px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.005);
  }
  
  .banderaImg {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  
  input[type="text"]:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #005ea3;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
  }